<section class="container">
  <div class="warp mt-4 mb-2 pt-5 pb-5">
    <div class="row justify-content-center">
      <div class="col-xl-6 col-lg-8">
        <div class="section-title title-style-three text-center mb-70">
          <h2>Meus <span class="text-yellow">Torneios</span></h2>
          <p>Acompanhe seus campeonatos</p>
        </div>
      </div>
    </div>
    <div *ngIf="isLoading" class="d-flex justify-content-center">
      <div class="spinner-grow text-warning" role="status" style="width: 5rem; height: 5rem;">
      </div>
      <div class="ml-4">
        <span class="text-warning">Favor aguarde... <br>nossos servidores estão iniciando,<br> ainda há homens
          trabalhando...</span>
      </div>
    </div>
    <div class="row" infiniteScroll (scrolled)="onScroll()" *ngIf="!isLoading && tournaments.length > 0">
      <div class="col-lg-12 col-md-12 mt-4 mb-2" *ngFor="let torneio of tournaments">
        <div class="coming-match-item mb-30">
          <div class="row">
            <div class="col-sm-6">
              <div class="coming-match-team">
                <div class="match-team-info">
                  <div class="match-team-logo">
                    <h2 class="text-yellow">{{ torneio.mode }}</h2>
                    <div class="match-team-name mb-5">
                      <h5 class="tournament-date">{{ torneio.date | date : 'fullDate' : '' : 'pt-BR' }} <span>as {{ torneio.start }}</span></h5>
                    </div>
                    <h2 class="text-yellow">Time: {{ torneio.nomeTime }}</h2>
                    <ul *ngFor="let membroTime of torneio.membrosTime" class="list-group list-group-flush">
                      <li class="list-group-item text-yellow bg-dark">{{membroTime.nome}} <br>{{membroTime.email}} <span><i class="fa fa-check-circle"></i></span></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="coming-match-info">
                <h2 class="text-yellow">Torneio Info</h2>
                <div class="match-info-action">
                  <ul>
                    <li>Modo: <span>{{ torneio.mode }}</span></li>
                    <li>Duração: <span>{{ torneio.duration }}</span></li>
                    <li>Início: <span>{{ torneio.start }}</span></li>
                    <li>Pontos: <span>{{ torneio.scoring }}</span></li>
                    <li>Times: <span>{{ torneio.times }}</span></li>
                    <li>Valor: <span>{{ torneio.cost }}</span></li>
                    <li>Posição: <span>{{ torneio.position }}</span></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div *ngIf="!isLoading && tournaments.length == 0" class="row justify-content-center mb-4">
  <div class="col-xl-6 col-lg-8">
    <div class="section-title title-style-three text-center mb-70">
      <h2>Você não possui <span class="text-yellow">Jogos</span></h2>
      <p>Se inscreva em um de nossos campeonatos clicando <a class="text-yellow" routerLink="/tournaments">aqui</a></p>
    </div>
  </div>
</div>
