.header {
  background-color: var(--background-Black);
}

.header::before {
  content: "";
  position: absolute;
  width: 29%;
  background: var(--primary-color);
  height: 7.625rem;
  top: 0;
  clip-path: polygon(0px 0px, 91% 0px, 100% 100%, 0% 100%);
}

.text-logo {
    font-family: 'Oxanium', cursive;
    font-weight: bold;
    font-size: 2rem;
    padding-left: 2rem;
    color: var(--text-color);

}

.text-logo img {
    margin-right: 1.25rem;
}

.navbar-expand-lg .navbar-collapse {
  display: flex;
  flex-basis: auto;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 1.25rem;
}


.navbar-expand-lg .navbar-collapse ul li {
  padding: 0.9375rem;
  display: flex;
  align-items: center;
  align-content: center;
}

.navbar-expand-lg .navbar-collapse ul li:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.navbar-expand-lg .navbar-collapse ul li a {
  color: var(--text-color);
}

.nav-item-btn {
  margin-left: 1.875rem;
}
.nav-item-btn:hover {
  background-color: #e4a10100!important;
}



.navbar-light .navbar-toggler-icon {
  background-image: url(../../../../assets/images/menu.png);
}

@media (max-width: 465px) {
  .collapse:not(.show) {
    display: none!important;
  }
  .header::before {
    height: 5.455rem;
    width: 56%;
  }
  .text-logo {
    padding-left: 0px;
    font-size: 1.5rem;
  }
  .text-logo img {
    margin-right: 0.725rem;
  }
  .navbar-expand-lg .navbar-collapse {
    justify-content: flex-start;
  }
  .nav-item-btn {
    margin-left: 0;
  }
}
