<section>
  <div class="container game-content mt-5 mb-5 pt-5 pb-5">
    <div class="row ">
      <div class="col-12 ">
        <h2>{{user.username}} <span class="text-yellow">Estatísticas</span></h2>
        <div class="row">
          <div class="col-sm-3">
            <div class="card">
              <div class="card-body">
                <div class="media align-items-center">
                  <span class="activity-icon bgl-success mr-md-4 mr-3">
                    <i class="fa fa-trophy"></i>
                  </span>
                  <div class="media-body">
                      <p class="fs-14 mb-2">KD</p>
                      <span class="title text-black font-w600">{{KD}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="card">
              <div class="card-body">
                <div class="media align-items-center">
                  <span class="activity-icon bgl-success mr-md-4 mr-3">
                    <i class="fa fa-trophy"></i>
                  </span>
                  <div class="media-body">
                      <p class="fs-14 mb-2">Vitórias</p>
                      <span class="title text-black font-w600">{{stats.br.wins}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="card">
              <div class="card-body">
                <div class="media align-items-center">
                  <span class="activity-icon bgl-success mr-md-4 mr-3">
                    <i class="fa fa-trophy"></i>
                  </span>
                  <div class="media-body">
                      <p class="fs-14 mb-2">Kills</p>
                      <span class="title text-black font-w600">{{stats.br.kills}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="card">
              <div class="card-body">
                <div class="media align-items-center">
                  <span class="activity-icon bgl-success mr-md-4 mr-3">
                    <i class="fa fa-trophy"></i>
                  </span>
                  <div class="media-body">
                      <p class="fs-14 mb-2">Mortes</p>
                      <span class="title text-black font-w600">{{stats.br.deaths}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
          <div class="table-responsive-xl">
            <h2>Útimas<span class="text-yellow"> Partidas</span></h2>
            <table class="table mt-0">
                <thead>
                    <tr>
                        <th scope="col">Posição</th>
                        <th scope="col">Modo</th>
                        <th scope="col">kd</th>
                        <th scope="col">kills</th>
                        <th scope="col">Morreu</th>
                        <th scope="col">Gulag</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let stats of statics">
                        <td>{{stats.playerStats.teamPlacement}} º</td>
                        <td>{{returnMode(stats.mode)}}</td>
                        <td>{{stats.playerStats.kdRatio}}</td>
                        <td>{{stats.playerStats.kills}}</td>
                        <td>{{stats.playerStats.deaths}}</td>
                        <td class="gulag-icon">
                          <i class="fa fa-check-circle" *ngIf="stats.playerStats.gulagKills > 0"></i>
                          <i class="fa fa-times-circle" *ngIf="stats.playerStats.gulagDeaths > 0"></i>
                        </td>
                    </tr>
                </tbody>
            </table>
          </div>
      </div>
    </div>
  </div>
</section>


<div class="container">
  <div class="mt-4 mb-4">
    <div class="col-md-12">
      <h2><span class="text-yellow">{{user.wzProfile}}</span></h2>
      <div *ngIf="hasErrors" class="d-flex justify-content-center mt-4">
        <div class="alert alert-danger" role="alert">
          Ocorreu um erro, tente novamente mais tarde
        </div>
      </div>
      <div *ngIf="isLoading" class="d-flex justify-content-center">
        <div class="spinner-grow text-warning" role="status" style="width: 5rem; height: 5rem;">
        </div>
        <div class="ml-4">
          <span class="text-warning">Favor aguarde... <br>nossos servidores estão iniciando,<br> ainda há homens
            trabalhando...</span>
        </div>
      </div>
      <div *ngIf="!isLoading && !hasErrors" class="row">
        <div class="col-md-4 mb-4">
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title"><span class="text-yellow"><strong>Estatísticas Gerais</strong></span></h5>
              <h5 class="card-title">KD <span class="text-yellow">{{KD}}</span></h5>
              <h5 class="card-title">Vitórias <span class="text-yellow">{{stats.br.wins}}</span></h5>
              <p class="card-text">Top 5 <span class="text-yellow">{{stats.br.topFive}}</span></p>
              <p class="card-text">Top 10 <span class="text-yellow">{{stats.br.topTen}}</span></p>
              <p class="card-text">Top 25 <span class="text-yellow">{{stats.br.topTwentyFive}}</span></p>
              <p class="card-text">Kills <span class="text-yellow">{{stats.br.kills}}</span></p>
              <p class="card-text">Mortes <span class="text-yellow">{{stats.br.deaths}}</span></p>
              <p class="card-text">Quedas <span class="text-yellow">{{stats.br.downs}}</span></p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title"><span class="text-yellow"><strong>Últimas 20 partidas</strong></span></h5>
              <h5 class="card-title">KD <span class="text-yellow">{{KDRecent}}</span></h5>
              <p class="card-text">Kills <span class="text-yellow">{{recentMatches.summary.all.kills}}</span></p>
              <p class="card-text">Mortes <span class="text-yellow">{{recentMatches.summary.all.deaths}}</span></p>
              <p class="card-text">Vitórias no Gulag <span
                  class="text-yellow">{{recentMatches.summary.all.gulagKills}}</span></p>
              <p class="card-text">Mortes no Gulag <span
                  class="text-yellow">{{recentMatches.summary.all.gulagDeaths}}</span></p>
              <p class="card-text">HeadShots <span class="text-yellow">{{recentMatches.summary.all.headshots}}</span>
              <!--p class="card-text">Kills TRIO <span
                  class="text-yellow">{{recentMatches.summary.br_brbbtrio.kills}}</span>
              <p class="card-text">Kills DUO <span
                  class="text-yellow">{{recentMatches.summary.br_brbbduo.kills}}</span>
              </p-->
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title"><span class="text-yellow"><strong>Mais informações</strong></span></h5>
              <p class="card-text">Revives usados <span class="text-yellow">{{stats.br.revives}}</span></p>
              <p class="card-text">Pontuação <span class="text-yellow">{{stats.br.score}}</span></p>
              <p class="card-text">Tempo jogando <span class="text-yellow">{{stats.br.timePlayed}}</span></p>
              <p class="card-text">Partidas jogadas <span class="text-yellow">{{stats.br.gamesPlayed}}</span></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
