<section class="container">
  <div class="row mt-5 mb-5 pt-5 pb-5">
    <div class="col-md-12 game-content">
      <h2 class="mb-5">Nossas <span class="text-yellow">regras</span></h2>
      <ul>
        <li>Os jogadores registrados devem ter pelo menos 200 jogos BR (Verdansk) jogados em sua conta para serem elegíveis.</li>

        <li>Faça fila com o seu time completo em um lobby público no modo BR que corresponde ao tipo de jogo do torneio.</li>

        <li>Não há necessidade de fazer check-in antes do início do torneio.</li>

        <li>As equipes podem jogar quantos jogos puderem durante o torneio.</li>

        <li>As equipes podem começar seu jogo final antes que o tempo acabe e continuar jogando até o final desse jogo.</li>

        <li>As equipes podem desistir dos jogos.</li>

        <li>O torneio está no PC, PLAYSTATION e XBOX.</li>

        <li>Temos o direito de desqualificar uma equipe se houver suspeita de qualquer forma de trapaça. Isso inclui, mas não se limita ao uso de hacks, smurfing e reverse boosting.</li>

        <li>O boosting reverso é definido como deliberadamente baixo desempenho em jogos anteriores ao torneio, a fim de ser colocado em um lobby de nível inferior.</li>

        <li>Em caso de empate, a maioria das mortes nos principais jogos das equipes será usada como o primeiro desempate. O segundo desempate será o número de vitórias
          nos principais jogos das equipes. O terceiro desempate será o menor número de jogos disputados. Se as equipes ainda estiverem empatadas, o prêmio para a posição
          e a próxima posição será dividido entre as equipes. Para maior clareza, se duas equipes estão empatadas em p2 após a contabilização de pontos, total de mortes
           de equipes, vitórias e número de jogos disputados, o prêmio para p2 e p3 seria dividido pelas equipes.</li>

        <li>A equipe completa inscrita deve estar presente para que as pontuações sejam contadas. No caso de um membro da equipe não poder jogar, a substituição por
          um jogador elegível alternativo pode ser feita até o horário limite do torneio, 1 hora antes do início do torneio. Se uma equipe completa não estiver
          presente e a equipe não tiver cancelado, a equipe perderá seu jogo e terá direito a um reembolso.</li>

        <li>Sparta Clã reserva-se o direito de atualizar ou modificar as regras a qualquer momento.</li>
      </ul>

      <h2 class="mb-5 mt-5 pt-5">Sistema de  <span class="text-yellow">pontuação</span></h2>
      <p>As equipes ganham pontos com base na colocação final e total de mortes.</p>
      <p>As pontuações finais são determinadas pela soma de seus jogos com maior pontuação. <br>
        Dependendo do formato do camp, pode variar de 1 a 4 jogos.</p>

      <ul class="score-rules">
         <li><span>Kills: </span> 1 ponto</li>
         <li><span>1º lugar: </span> 10 pontos</li>
         <li><span>2º lugar: </span> 9 pontos</li>
         <li><span>3º lugar: </span> 8 pontos</li>
         <li><span>4º lugar: </span> 7 pontos</li>
         <li><span>5º lugar: </span> 6 pontos</li>
         <li><span>6º lugar: </span> 5pontos</li>
         <li><span>7º lugar: </span> 4 pontos</li>
         <li><span>8º lugar: </span> 3 pontos</li>
         <li><span>9º lugar: </span> 2 pontos</li>
         <li><span>10º lugar: </span> 1 ponto</li>

      </ul>

    </div>
  </div>
</section>
