<app-button (click)="setModalLoginAsOpen()" title="{{title}}" data-toggle="modal" data-target="#modalLogin"></app-button>

<!-- Modal login -->
<div *ngIf="!user && isModalLogin && !isModalReset && !isModalRegister && !modalCodPonits" class="modal fade" id="modalLogin" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <app-login></app-login>
      </div>
    </div>
  </div>
</div>

<!-- Modal Register-->
<div *ngIf="isModalRegister && !isModalLogin && !isModalReset && !modalCodPonits" class="modal fade" id="modalRegister" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <app-register></app-register>
      </div>
    </div>
  </div>
</div>

<!-- Modal Reset-->
<div *ngIf="isModalReset && !isModalLogin && !isModalRegister && !modalCodPonits" class="modal fade" id="modalReset" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <app-reset-password></app-reset-password>
      </div>
    </div>
  </div>
</div>

<!-- Modal Compra Creditos-->
<div *ngIf="modalCodPonits && !isModalReset && !isModalLogin && !isModalRegister " class="modal fade" id="modalCodPonits" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <app-buy-credits></app-buy-credits>
      </div>
    </div>
  </div>
</div>
