<div class="container">
  <div class="row mb-5 mt-5 pt-5 pb-5 game-content justify-content-center">
    <form class="mt-4 mb-4 pt-3 pb-3 col-8" [formGroup]="formRegisterConfirmation" (ngSubmit)="enviar()">
      <h2 class="mb-2 text-center">Complete seu <span class="text-yellow">perfil</span></h2>
      <p class="text-center mb-5">Seu email foi verificado! Precisamos saber mais alguns detalhes sobre você antes que
        você possa se registrar para um torneio</p>
      <h4>Minhas informações</h4>
      <div class="form-group">
        <label for="username">Nome de usuario*</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">@</span>
          </div>
          <input type="text" class="form-control" id="username" aria-describedby="usuario" name="usuario" formControlName="usuario" required>
          <ng-container *ngIf="formRegisterConfirmation.controls.usuario.touched">
            <span class="text-danger" *ngIf="formRegisterConfirmation.controls.usuario.errors?.required">
              Usuário obrigatório
            </span>
            <span *ngIf="formRegisterConfirmation.controls.usuario.errors?.usuario">
              Nome inválido
            </span>
          </ng-container>
        </div>
      </div>
      <div class="form-group">
        <label for="nome">Nome Completo</label>
        <input readonly [(ngModel)]="user.nome" type="text" class="form-control" id="nome" aria-describedby="nome" formControlName="nome" name="nome">
        <ng-container *ngIf="formRegisterConfirmation.controls.nome.touched">
          <span class="text-danger" *ngIf="formRegisterConfirmation.controls.nome.errors?.required">
            Nome obrigatório
          </span>
          <span *ngIf="formRegisterConfirmation.controls.nome.errors?.nome">
            Nome inválido
          </span>
        </ng-container>
      </div>
      <div class="form-group">
        <label for="nome">Email</label>
        <input readonly [(ngModel)]="user.email" type="email" class="form-control" id="email" aria-describedby="email" formControlName="email" name="email">
        <ng-container *ngIf="formRegisterConfirmation.controls.email.touched">
          <span class="text-danger" *ngIf="formRegisterConfirmation.controls.email.errors?.required">
            Email obrigatório
          </span>
          <span *ngIf="formRegisterConfirmation.controls.email.errors?.email">
            Email inválido
          </span>
        </ng-container>
      </div>
      <div class="form-group">
        <label for="pais">País*</label>
        <select class="form-control" id="pais" name="pais" formControlName="pais">
          <option value=""></option>
          <option value="Argentina">Argentina</option>
          <option value="Bolívia">Bolívia</option>
          <option value="Brasil" selected>Brasil</option>
          <option value="Chile">Chile</option>
          <option value="Colômbia">Colômbia</option>
          <option value="Equador">Equador</option>
          <option value="Guiana">Guiana</option>
          <option value="Paraguai">Paraguai</option>
          <option value="Peru">Peru</option>
          <option value="Suriname">Suriname</option>
          <option value="Uruguai">Uruguai</option>
          <option value="Venezuela">Venezuela</option>
        </select>
        <ng-container *ngIf="formRegisterConfirmation.controls.pais.touched">
          <span class="text-danger" *ngIf="formRegisterConfirmation.controls.pais.errors?.required">
            Campo obrigatório
          </span>
        </ng-container>
      </div>
      <div class="form-group">
        <label for="estado">Estado*</label>
        <input type="text" class="form-control" id="estado" formControlName="estado" name="estado">
        <ng-container *ngIf="formRegisterConfirmation.controls.estado.touched">
          <span class="text-danger" *ngIf="formRegisterConfirmation.controls.estado.errors?.required">
            Campo obrigatório
          </span>
        </ng-container>
      </div>
      <div class="form-group">
        <label for="data">Data de nascimento*</label>
        <input type="date" class="form-control" id="data" formControlName="nascimento" name="nascimento">
        <ng-container *ngIf="formRegisterConfirmation.controls.nascimento.touched">
          <span class="text-danger" *ngIf="formRegisterConfirmation.controls.nascimento.errors?.required">
            Campo obrigatório
          </span>
        </ng-container>
      </div>
      <h4 class="pt-5 pb-3">ID e Plataforma</h4>
      <div class="form-group">
        <label for="platform">Plataforma*</label>
        <div class="col-md-12">
          <div class="row mt-2">
            <div class="col-md-4" (click)="choosePlatform('psn')">
              <div class="card choosePlatform mb-2 {{platform === 'psn' ? 'bg-dark' : ''}} ">
                <img src="/assets/images/psn.png" class="mt-2 ml-2 mr-2 center"
                  style="max-height: 170px; max-width: 170px;" alt="psn logo">
                <div class="card-body center">
                  <h5 class="card-title">PSN</h5>
                </div>
              </div>
            </div>
            <div class="col-md-4" (click)="choosePlatform('xbl')">
              <div class="card choosePlatform mb-2 {{platform === 'xbl' ? 'bg-dark' : ''}} ">
                <img src="/assets/images/xbox.png" class="mt-2 ml-2 mr-2 center"
                  style="max-height: 160px; max-width: 160px;" alt="xbox logo">
                <div class="card-body center">
                  <h5 class="card-title">XBOX</h5>
                </div>
              </div>
            </div>
            <div class="col-md-4" (click)="choosePlatform('battle')">
              <div class="card choosePlatform mb-2 {{platform === 'battle' ? 'bg-dark' : ''}} ">
                <img src="/assets/images/battle.png" class="mt-2 ml-2 mr-2 center"
                  style="max-height: 160px; max-width: 160px;" alt="BattleNET logo">
                <div class="card-body center">
                  <h5 class="card-title">Battle.NET</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="idPlataforma">Id plataforma*</label>
        <input type="text" class="form-control" id="wzProfile" aria-describedby="idPlataforma"
          formControlName="wzProfile" name="wzProfile">
        <ng-container *ngIf="formRegisterConfirmation.controls.wzProfile.touched">
          <span class="text-danger" *ngIf="formRegisterConfirmation.controls.wzProfile.errors?.required">
            Campo obrigatório
          </span>
          <span *ngIf="formRegisterConfirmation.controls.wzProfile.errors?.nome">
            Nome inválido
          </span>
        </ng-container>
      </div>
      <button type="submit" class="btn btn-custom mb-3" [disabled]="!formRegisterConfirmation.valid">
        <span *ngIf="isLoading" class="spinner-border spinner-border-sm mr-1"></span>
        Finalizar</button><br>
    </form>
  </div>
</div>
