<section *ngIf="user.admin" class="container">
  <div class="warp mt-2 mb-5 pt-5 pb-5">
    <div class="row justify-content-center">
      <div class="col-xl-6 col-lg-8">
        <div class="section-title title-style-three text-center mb-4">
          <h2>Gerenciamento <span class="text-yellow">Administrador</span></h2>
          <p>Com grandes poderes vem grandes responsabilidades</p>
        </div>
      </div>
    </div>
    <div class="row" >
      <div class="col-lg-4 col-md-6 mt-5 mb-2" >
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="assets/images/call-of-duty-warzone.jpg" alt="Torneios">
          <div class="card-body">
            <h5 class="card-title text-yellow">Torneios</h5>
            <p class="card-text">Crie, edite, divulgue e inative torneios através desse menu.</p>
            <a routerLink="/new-tournament" class="btn btn-primary">Acessar</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mt-5 mb-2" >
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="assets/images/warzone-new-season.jpg" alt="Torneios">
          <div class="card-body">
            <h5 class="card-title text-yellow">Usuários</h5>
            <p class="card-text">Crie, edite e inative usuários através desse menu.</p>
            <a routerLink="/manage-users" class="btn btn-primary">Acessar</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mt-5 mb-2" >
        <div class="card" style="width: 18rem;">
          <img class="card-img-top center" src="assets/images/dashboards.png" style="max-height: 135px; max-width: 220px;" alt="Torneios">
          <div class="card-body">
            <h5 class="card-title text-yellow">Relatórios</h5>
            <p class="card-text">Saiba de tudo que está acontecendo com os campeonatos.</p>
            <a routerLink="/manage-users" class="btn btn-primary">Acessar</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


