<section *ngIf="user.admin" class="container">
  <div class="row mb-5 mt-5 pb-5 pt-5">
    <div class="col-md-12 game-content">
      <div class="row">
        <div class="col-md-8">
          <h2 class="mb-5">Campeonatos <span class="text-yellow">ativos</span></h2>
        </div>
        <div class="col-md-4 mb-4">
          <a class="btn-custom" routerLink="/new-tournament">Novo Campeonato</a>
        </div>
      </div>
      <div *ngIf="isLoading" class="d-flex justify-content-center">
        <div class="spinner-grow text-warning" role="status" style="width: 5rem; height: 5rem;">
        </div>
        <div class="ml-4">
          <span class="text-warning">Favor aguarde... <br>nossos servidores estão iniciando,<br> ainda há homens
            trabalhando...</span>
        </div>
      </div>
      <table *ngIf="!isLoading" aria-describedby="campeonatos" class="table table-responsive">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Modo</th>
            <th scope="col">Premiação</th>
            <th scope="col">Custo</th>
            <th scope="col">Data</th>
            <th scope="col">Divisão</th>
            <th scope="col">Duração</th>
            <th scope="col">Pontuação</th>
            <th scope="col">Início</th>
            <th scope="col">Times</th>
            <th scope="col">Editar</th>
            <th scope="col">Desativar</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let tournament of tournaments; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ tournament.mode }}</td>
            <td>{{ tournament.award }}</td>
            <td>{{ tournament.cost }}</td>
            <td>{{ tournament.date }}</td>
            <td>{{ tournament.division }}</td>
            <td>{{ tournament.duration }}</td>
            <td>{{ tournament.scoring }}</td>
            <td>{{ tournament.start }}</td>
            <td>{{ tournament.times }}</td>
            <td> <button (click)="editTournament(tournament.idCamp)" type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalEdit">
              Editar
            </button> </td>
            <td> <button (click)="disableTournament(tournament.idCamp)" type="button" class="btn btn-danger" data-toggle="modal" data-target="#modalDisable">
              Desativar
            </button> </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>

<div class="modal fade modal-edit-position" id="modalEdit" tabindex="-1" aria-labelledby="modalEdit" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
        <app-edit-tournament [idCamp]="idCamp"></app-edit-tournament>
      </div>
    </div>
  </div>
</div>

<div class="modal fade modal-delete-position" tabindex="-1" role="dialog" id="modalDisable">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Desativar Campeonato</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Deseja realmente desativar esse campeonato?</p>
      </div>
      <div class="modal-footer">
        <button  (click)="confirmDisable()" type="button" class="btn btn-primary">Sim</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Não</button>
      </div>
    </div>
  </div>
</div>
