<div id="alert" class="container h-100 d-flex justify-content-center">
  <div class="col-md-6 position-fixed">
    <div *ngFor="let alert of alerts" class="{{cssClass(alert)}} alert">
      <div class="toast-header text-dark" style="background-color: transparent;">
        <img src="assets/images/spartan-cla-logo.png" style="width: 15%; height: 15%" class="rounded mr-2"
          alt="Logo Sparta">
        <h2>Sparta Clã</h2>
      </div>
      <div class="toast-body pt-5 pb-5">
        <h2 class="{{titleCss(alert)}}">{{ title }} <span class="text-yellow"></span></h2>
        <p class="sub-title"> {{ description }}</p>
        <a class="btn btn-custom" (click)="removeAlert(alert)">Fechar</a>
      </div>
    </div>
  </div>
</div>