<div class="container h-100 d-flex justify-content-center">
    <div class="col-md-6">
        <div *ngFor="let alert of alerts" class="{{cssClass(alert)}} alert">
            <div class="toast-header text-dark" style="background-color: transparent;">
                <img src="assets/images/spartan-cla-logo.png" style="width: 15%; height: 15%" class="rounded mr-2" alt="Logo Sparta">
                <h2>Sparta Clã</h2>
            </div>
            <div class="toast-body">
                <span [innerHTML]="alert.message"></span>
                <a class="btn btn-custom" (click)="removeAlert(alert)">Fechar</a>
            </div>
        </div>
    </div>
</div>

<script>
    window.setTimeout(function() {
    $(".alert").fadeTo(500, 0).slideUp(500, function(){
        $(this).remove();
    });
}, 2000);
</script>
