<div class="">
    <div class="container mt-4">
        <div class="col-md-9 text-left text-muted">
            <h2>Olá  <span class="text-yellow">{{firstName}}</span></h2>
        </div>


    </div>

    <section class="mt-5 mb-5 pt-5 pb-5">
      <div class="container">
        <div class="row">
          <div class="col-md-7">
            <div class="just-gamers-list">
              <ul>
                <a routerLink="/my-tournaments">
                  <li>
                    <div class="just-gamers-list-icon">
                        <img src="../../../assets/images/spartan-cla-logo-branco.svg" alt="">
                    </div>
                    <div class="just-gamers-list-content fix">
                        <h5>Meus Toneios</h5>
                        <p>Gerencie suas equipes para os próximos torneios</p>
                    </div>
                  </li>
                </a>
                <a routerLink="/my-stats">
                  <li>
                      <div class="just-gamers-list-icon">
                          <img src="../../../assets/images/spartan-cla-logo-branco.svg" alt="">
                      </div>
                      <div class="just-gamers-list-content fix">
                          <h5>Estatísticas</h5>
                          <p>Suas estatísticas durante os torneios</p>
                      </div>
                  </li>
                </a>
                <a routerLink="/credits">
                  <li>
                      <div class="just-gamers-list-icon">
                          <img src="../../../assets/images/spartan-cla-logo-branco.svg" alt="">
                      </div>
                      <div class="just-gamers-list-content fix">
                          <h5>Créditos</h5>
                          <p>Seus créditos e dinheiro obtidos</p>
                      </div>
                  </li>
                </a>
                <a routerLink="/my-profile">
                  <li>
                    <div class="just-gamers-list-icon">
                        <img src="../../../assets/images/spartan-cla-logo-branco.svg" alt="">
                    </div>
                    <div class="just-gamers-list-content fix">
                        <h5>Meu Perfil</h5>
                        <p>Gerenciar as informações da sua conta</p>
                    </div>
                  </li>
                </a>
              </ul>
            </div>
          </div>
          <div class="col-md-5">
            <div class="just-gamers-img">
                <img src="../../../assets/images/just_gamers_img.png" alt="" class="just-gamers-character">
                <div class="just-gamers-circle-shape">
                    <img src="../../../assets/images/gamers_circle_line.png" alt="">
                    <img src="../../../assets/images/gamers_circle_shape.png" alt="" class="rotateme">
                </div>
                <img src="../../../assets/images/just_gamers_chart.png" alt="" class="gamers-chart-shape">
            </div>
          </div>
        </div>
      </div>
    </section>
</div>
