<header class="header-logged ">
  <div class="container-fluid">
    <nav class=" navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand text-logo" routerLink="/welcome"><img src="assets/images/spartan-cla-logo.svg" width="60" alt="Logo"> Sparta Clã</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item show"><a routerLink="/welcome" routerLinkActive="is-active"> Início</a></li>
          <li class="nav-item show"><a routerLink="/my-profile" routerLinkActive="is-active"> Meu Perfil</a></li>
            <li class="nav-item"><a routerLink="/my-tournaments" routerLinkActive="is-active">Meus Torneios</a></li>
            <li class="nav-item"><button (click)="logout()" class="btn btn-sm btn-info">Sair</button></li>
        </ul>
      </div>
    </nav>
  </div>
</header>


