<div *ngIf="isLoading" class="d-flex justify-content-center">
  <div class="spinner-grow text-warning" role="status" style="width: 5rem; height: 5rem;">
  </div>
</div>

<div *ngIf="!isLoading" class="modal-content">
  <div class="modal-header">
    <h3 class="modal-title text-muted">Torneio <span class="text-yellow">{{tournament?.mode}}</span>, {{tournament?.date | date :
      'fullDate' : '' : 'pt-BR'}}. Premiação <strong>{{tournament?.award}}</strong></h3>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="formRegister" (ngSubmit)="enviar()">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label for="nomeTime">Nome do Time</label>
              <input type="text" maxlength="20" class="form-control" id="nomeTime" aria-describedby="nomeTime"
                formControlName="nomeTime" name="nomeTime">
              <ng-container *ngIf="formRegister.controls.nomeTime.touched">
                <span class="text-danger" *ngIf="formRegister.controls.nomeTime.errors?.required">
                  Nome do Time obrigatório
                </span>
              </ng-container>
            </div>
          </div>
          <div *ngIf="tournament?.mode != 'Solo'" class="col-md-12 mb-2">
            <mat-form-field>
              <label for="membroTime">Email do membro do Time</label>
              <div class="input-group mb-3">
                <input type="email" maxlength="60" name="membroTime" formControlName="membroTime"
                  [(ngModel)]="membroTime" class="form-control" placeholder="Email" aria-label="membroTime"
                  aria-describedby="membroTime" matInput [matAutocomplete]="auto">
                <div class="input-group-append">
                  <button (click)="addTeamMember()" class="btn btn-outline-secondary" type="button">Adicionar</button>
                </div>
                <mat-autocomplete #auto="matAutocomplete">
                  <mat-option *ngFor="let option of options" [value]="option">
                    {{option}}
                  </mat-option>
                </mat-autocomplete>
              </div>
            </mat-form-field>
          </div>
            <div class="col-md-12 mb-2">
              <ul *ngFor="let membroTime of membrosTime" class="list-group">
                <li class="list-group-item">{{membroTime}}</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button *ngIf="tournament?.mode != 'Solo'; else solo" type="submit" class="btn btn-custom mb-3"
            [disabled]="isLoading || formRegister.controls.nomeTime.errors?.required || membrosTime.length == 0">
            <span *ngIf="isLoading" class="spinner-border spinner-border-sm mr-1"></span>
            Registrar</button>

          <ng-template #solo>
            <button type="submit" class="btn btn-custom mb-3"
              [disabled]="isLoading || formRegister.controls.nomeTime.errors?.required">
              <span *ngIf="isLoading" class="spinner-border spinner-border-sm mr-1"></span>
              Registrar</button>
          </ng-template>

        </div>
    </form>
  </div>
</div>
