<section class="container">
  <div class="row mt-5 mb-5 pt-5 pb-5">
    <div class="col-md-12 game-content">
      <div class="card card0 rounded-0">
				<div class="row">
					<div class="col-md-6 d-md-block p-0 box">
						<div class="card rounded-0 border-0 card1" id="bill">
							<h3 class="heading1">Comprar Cod Points</h3>
              <p class="pl-2">Cada cod point custa R$0,11 centavos </p>
              <h3 class="mt-4 pl-2" id="heading2">PROMOÇÃO</h3>
							<div class="row hover " [ngClass]="{'clicado' : clicked1 } " (click)="select($event, 10)">
								<div class="col-lg-7 col-8 line pl ptb">
									<h2 class="bill-head">Elite</h2>
									<small class="bill-date">R$10,00</small>
								</div>
								<div class="col-lg-5 col-4 pl ptb text-center">
									<h2 class="bill-head px-xl-5 px-lg-4">100</h2>
                  <small class="bill-date">cod points</small><br>
								</div>
							</div>
							<div class="row hover " [ngClass]="{'clicado' : clicked2 } " (click)="select($event, 30)">
								<div class="col-lg-7 col-8 line pl ptb ">
									<h2 class="bill-head">Platinum</h2>
									<small class="bill-date">R$30,00</small>
								</div>
								<div class="col-lg-5 col-4 pl ptb text-center">
									<h2 class="bill-head px-xl-5 px-lg-4">300</h2>
                  <small class="bill-date">cod points</small><br>
								</div>
							</div>
							<div class="row hover" [ngClass]="{'clicado' : clicked3 } " (click)="select($event, 50)">
								<div class="col-lg-7 col-8 line pl ptb">
									<h2 class="bill-head">Premium</h2>
									<small class="bill-date">R$50,00</small><br>
								</div>
								<div class="col-lg-5 col-4 pl ptb text-center">
									<h2 class="bill-head px-xl-5 px-lg-4">600</h2>
                  <small class="bill-date">cod points</small><br>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-7 col-8 line pl ptb">
									<h2 class="bill-head">Outro valor</h2>
									<small class="bill-date">{{valorParcial | currency : 'BRL'}}</small>
								</div>
								<div class="col-lg-5 col-4 pl ptb text-center">
                  <input type="text" class="form-control text-center fb" [(ngModel)]="inputCodPoints" name="inputCodPoints" name="inputCodPoints" maxlength="5" (click)="reset()" (keyup)="onKeyUp($event)">
                  <small class="bill-date">cod points</small><br>
								</div>
							</div>
							<div class="row">
								<div class="col-md-12 red-bg">
									<p class="bill-date" id="total-label">Valor Total</p>
									<h2 class="bill-head" id="total">{{valorTotal | currency : 'BRL'}}</h2>
								</div>
							</div>
						</div>
					</div>

					<div class="col-md-6 col-sm-12 p-0 box">
						<div class="card rounded-0 border-0 card2" id="paypage">
							<div class="form-card">
                    <h2 id="heading2" class="">Método de Pagamento</h2>
                    <div class="radio-group">
                        <div class='radio' data-value="credit"><img src="https://i.imgur.com/28akQFX.jpg" width="200px" height="60px"></div>
                        <div class='radio' data-value="paypal"><img src="https://i.imgur.com/5QFsx7K.jpg" width="200px" height="60px"></div>
                        <br>
                    </div>
                  <form (ngSubmit)="onSubmit()" [formGroup]="formBuyCredits" >
                    <label class="pay">Nome identico do cartao</label>
                    <input type="text" class="form-control" formControlName="nomeCartao" placeholder="Exemplo E A Exemplo" required>
                    <ng-container *ngIf="formBuyCredits.controls.nomeCartao.touched">
                      <span class="valid" *ngIf="formBuyCredits.controls.nomeCartao.errors?.required">
                          Nome no cartão é obrigatório
                      </span>
                    </ng-container>
                    <div class="row">
                        <div class="col-8 col-md-8 mb-3">
                            <label class="pay">Numero do cartão</label>
                            <input type="text" class="form-control" formControlName="numeroCartao" id="cr_no" placeholder="0000-0000-0000-0000"  maxlength="19" mask="0000-0000-0000-0000">
                            <ng-container *ngIf="formBuyCredits.controls.numeroCartao.touched">
                              <span class="valid" *ngIf="formBuyCredits.controls.numeroCartao.errors?.required">
                                  Número do cartão é obrigatório
                              </span>
                            </ng-container>
                        </div>
                        <div class="col-4 col-md-4">
                            <label class="pay">CVV</label>
                            <input type="password" formControlName="cvv" placeholder="&#9679;&#9679;&#9679;" class="placeicon form-control"  maxlength="3">
                            <ng-container *ngIf="formBuyCredits.controls.cvv.touched">
                              <span class="valid" *ngIf="formBuyCredits.controls.cvv.errors?.required">
                                  CVV é obrigatório
                              </span>
                            </ng-container>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <label class="pay ">CPF</label>
                            <input type="text" [(ngModel)]="numCPF" class="form-control" formControlName="cpf" id="cpf" (keyup)="cpf()"  placeholder="000.000.000-00"  maxlength="19" mask="000.000.000-00">
                            <ng-container *ngIf="formBuyCredits.controls.cpf.touched">
                              <span class="valid" *ngIf="formBuyCredits.controls.cpf.errors?.required">
                                  CPF é obrigatório
                              </span>
                              <span class="valid" *ngIf="cpfValid == false">
                                O CPF é inválido
                              </span>
                            </ng-container>
                        </div>
                        <div class="col-md-4">
                          <label class="pay ">Data Expiração</label>
                            <input type="text" class="form-control" formControlName="dataExp" id="exp" placeholder="MM/YY"  maxlength="5" mask="00/00" >
                            <ng-container *ngIf="formBuyCredits.controls.dataExp.touched">
                              <span class="valid" *ngIf="formBuyCredits.controls.dataExp.errors?.required">
                                  Data da expiração é obrigatório
                              </span>
                            </ng-container>
                        </div>
                    </div>
                    <div class="row jctc">
                        <div class="col-md-6 mt-5">
                            <button type="submit"  class="btn btn-custom">EFETUAR COMPRA</button>
                        </div>
                    </div>
              </form>
              </div>
						</div>
					</div>
				</div>
			</div>
    </div>
  </div>
</section>
