<div class="container">
  <div class="row mb-5 mt-4 justify-content-center">
    <form class="mt-4 mb-4 pt-3 pb-3 col-md-6 col-sm-6" [formGroup]="formNewPassword" (ngSubmit)="enviar()">
      <h2 class="mb-5 text-center">Nova <span class="text-yellow">senha</span></h2>
      <div class="form-group">
        <label for="password">Nova Senha*</label>
        <input type="password" class="form-control" id="password" formControlName="password" name="password">
        <ng-container *ngIf="formNewPassword.controls.password.touched">
          <span *ngIf="formNewPassword.controls.password.errors?.required">
            Campo obrigatório
          </span>
        </ng-container>
      </div>

      <div class="form-group">
        <label for="password">Confirmar Senha*</label>
        <input type="password" class="form-control" id="confirmPassword" formControlName="confirmPassword"
          name="confirmPassword">
        <ng-container *ngIf="formNewPassword.controls.confirmPassword.touched">
          <span *ngIf="formNewPassword.controls.confirmPassword.errors?.required">
            Campo obrigatório
          </span>
          <span class="text-danger" *ngIf="formNewPassword.value.password != formNewPassword.value.confirmPassword">
            Senhas não combinam
          </span>
        </ng-container>
      </div>

      <button type="submit" class="btn btn-custom mb-3" [disabled]="!formNewPassword.valid || isChangingPassword || formNewPassword.value.password != formNewPassword.value.confirmPassword">
        <span *ngIf="isChangingPassword" class="spinner-border spinner-border-sm mr-1"></span>
        Alterar</button><br>
    </form>
  </div>
</div>
