@import 'https://pro.fontawesome.com/releases/v5.10.0/css/all.css';

.footer-bg {
	background-image: url(src/assets/images/footer_bg.jpg);
	background-color: #f9f9f9;
	background-position: top center;
	background-size: cover;
	position: relative;
	z-index: 1;
}

.fw-link ul li a {
  color: var(--text-color-light);
  font-size: 0.875rem;
  line-height: 2.5rem;
  display: inline-block;
}

.fw-link ul li a:hover {
  padding-left: 5px;
  color: var(--primary-color)
}

.footer-social ul {
  display: flex;
  flex-direction: row;
}

.footer-social ul li {
  padding: 0 10px;
}

.fa {
  font-size: 1.25rem;
  color: #fff;
  line-height: 2.5rem;
}

.fa:hover {
  color: var(--primary-color);
}
.s-copyright-wrap {
  background: var(--background-Black);
  padding: 1.5625rem 0.625rem;
}

.copyright-text a {
  color: var(--primary-color);
}

