<footer>
  <div class="footer-top footer-bg s-footer-bg">
      <div class="container">
          <div class="row pt-5 pb-5 justify-content-between">
              <div class="col-xl-3 col-lg-4 col-md-6">
                  <div class="footer-widget mb-50 text-center">
                      <div class="footer-logo mb-35">
                          <a href="/"><img src="assets/images/spartan-cla-logo-branco.svg" width="120" alt=""></a>
                      </div>
                      <div class="footer-text text-center">
                          <p>This is Sparta Clã</p>
                          <div class="footer-contact mb-4 mt-2">
                            A Sparta Clã não é apoiada, afiliada, mantida ou patrocinada pela Activision Blizzard, Microsoft, Xbox, Sony ou PlayStation. Todo conteúdo, imagens, artes, marcas e nomes são de direitos autorais de seus respectivos proprietários.
                          </div>
                        </div>
                  </div>
              </div>
              <div class="col-xl-2 col-lg-3 col-sm-6">
                  <div class="footer-widget mb-50">
                      <div class="fw-title mb-35">
                          <h5>Menu</h5>
                      </div>
                      <div class="fw-link">
                          <ul>
                              <li><a routerLink="/">Home</a></li>
                              <li><a routerLink="/sobre">Sobre</a></li>
                              <li><a routerLink="/torneios">Torneios</a></li>
                              <li><a routerLink="/regras">Regras</a></li>
                          </ul>
                      </div>
                  </div>
              </div>
              <div class="col-xl-3 col-lg-4 col-sm-6">
                  <div class="footer-widget mb-50">
                      <div class="fw-title mb-35">
                          <h5>Ajuda?</h5>
                      </div>
                      <div class="fw-link">
                        <nav>
                          <ul>
                              <li><a routerLink="/termos-de-uso">Termos & Condições</a></li>
                              <li><a routerLink="/politicas-de-privacidade">Politicas de privacidade</a></li>
                              <li><a href="https://discord.gg/UrDmpKn4" target="_blank">Comunidade</a></li>
                              <li><a href="/faq">FAQ</a></li>
                          </ul>
                        </nav>
                      </div>
                  </div>
              </div>
              <div class="col-xl-2 col-lg-3 col-md-6">
                  <div class="footer-widget mb-50">
                      <div class="fw-title mb-35">
                          <h5>Redes Sociais</h5>
                      </div>
                      <div class="footer-social">
                          <ul>
                              <li><a href="https://www.instagram.com/spartacla.gg/" target="_blank"><i class="fa fa-instagram"></i></a></li>
                              <li><a href="https://twitter.com/SpartaCla_gg" target="_blank"><i class="fa fa-twitter"></i></a></li>
                              <li><a href="#"><i class=""></i></a></li>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="copyright-wrap s-copyright-wrap">
      <div class="container">
          <div class="row">
              <div class="col-lg-6 col-md-6">
                  <div class="copyright-text">
                      <p>Copyright © 2021 <a href="/">Sparta Clã</a></p>
                  </div>
              </div>
              <!--div class="col-lg-6 col-md-6 d-none d-md-block">
                  <div class="payment-method-img text-right">
                      <img src="assets/images/payment_img.png" alt="img">
                  </div>
              </div-->
          </div>
      </div>
  </div>
</footer>
