
.bg-area {
  background-image: url(src/assets/images/warzone-new-season.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 200px 0px;
  box-shadow:inset 0 0 0 2000px rgba(0, 0, 0, 0.6);
}

h1.display-1 {
  font-size: 6rem;
}

h2 {
  font-size: x-large;
  color: var(--text-white);
}

p {
  padding: 5px 25px;
  color: var(--text-white);
}

.txt-black {
  color: var(--secondary-color);
}

.intro__logo {
  background-color: var(--primary-color);
  border-radius: 0.25rem;
  height: 4rem;
  width: 4rem;
  padding: 0.75rem;
  margin-right: 1rem;
}

.intro__logo .title-icon {
  fill: var(--secondary-color);
  height: 2.5rem;
  width: 2.5rem;
}


@media screen and (max-width: 420px) {
  h1.display-1 {
    font-size: 2.5rem;
  }
}
