@media all and (min-width: 551px) {
  .bg-area {
    background-image: url(src/assets/images/fortnite_warzone.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 200px 0px;
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.6);
  }

  .center {
    margin: 0rem 0rem 0rem 40%;
    width: 50%;
    padding: 10px;
  }

  h1.display-1 {
    font-size: 6rem;
  }

  h2 {
    font-size: x-large;
  }

  .sub-text {
    padding: 5px 25px;
    color: var(--text-white);
    margin: 0rem 1rem 1rem -15rem;
  }


  .intro__logo {
    background-color: var(--primary-color);
    border-radius: 0.25rem;
    height: 4rem;
    width: 4rem;
    padding: 0.75rem;
    margin-right: 1rem;
  }

  .intro__logo .title-icon {
    fill: var(--secondary-color);
    height: 2.5rem;
    width: 2.5rem;
  }

}


@media all and (max-width: 550px) {
  h1.display-1 {
    font-size: 2.5rem;
  }

  .bg-area {
    background-position: center;
  }


  p {
    padding: 5px 25px;
    color: var(--text-white);
  }

  h2 {
    font-size: x-large;
    color: var(--text-white);
    margin-left: 1rem;
  }

}