<section class="mt-5 center">
    <h2 class="txt-intro"><span class="text-yellow">ESTATÍSTICAS</span></h2>
    <div class="sub-text">
      <p>Verifique as estatísticas e tabelas de classificação detalhadas do seu jogo favorito</p>
    </div>
</section>

  <p-tabView>
    <p-tabPanel header="Fortnite">
      <app-fortnite-search></app-fortnite-search>
    </p-tabPanel>
    <p-tabPanel header="Warzone">
      <app-warzone-search></app-warzone-search>
    </p-tabPanel>
  
  </p-tabView>


<section class="bg-area">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-9 text-center">
        <!--h2 class="txt-intro"><span class="text-yellow"> Call Of Duty</span></h2-->
        <h1 class="display-1 mb-3 text-light">Campeonatos</h1>
        <p class="sub-text">Convide seu clã para disputar nossos campeonatos de seu FPS favorito.</p>
        <app-modal id="buttonLogin" title="Jogar Agora"></app-modal>
      </div>
    </div>
  </div>
</section>