<section class="bg-area">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-9 text-center">
        <h2 class="txt-intro"><span class="text-yellow"> Call Of Duty</span></h2>
        <h1 class="display-1 mb-3 text-light">Campeonatos <br> Warzone</h1>
        <p>Convide seu clã para disputar nossos campeonatos de Warzone e ganhe criptomoedas <a href="https://e.cash/" target="_blank">eCash</a> todos os dias.</p>
        <app-modal id="buttonLogin" title="Jogar Agora"></app-modal>
      </div>
    </div>
  </div>
</section>
