<section class="container">
  <div class="row mt-5 mb-5 pt-5 pb-5">
    <div class="col-md-12 game-content">
      <h2 class="mb-5">Meu <span class="text-yellow">Perfil</span></h2>
      <div class="row mt-4">
        <div class="col-md-4 mb-3 order-xl-2 mb-xl-0">
          <div class="card card-profile">
            <div class="card-body pt-0 pt-md-4">
              <div class="d-flex flex-column align-items-center text-center">
                <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle"
                  width="150">
                <div class="mt-3">
                  <h4>{{user.nome}}</h4>
                  <p class="text-secondary mb-1">{{user.wzProfile}}</p>
                  <p class="text-muted font-size-sm">{{user.estado}}, {{user.pais}} </p>
                </div>
                <div class="mt-2">
                  <h4>Créditos: <span class="text-yellow">{{user.creditos}}</span></h4>
                </div>

                <div *ngIf="!isPublicProfile && !isCheckingProfile" class="mt-2">
                  <h5><span class="text-danger">Seu perfil Activision não está PÚBLICO</span><br>
                  <small class="text-danger">ou seu usuário e plataforma estão incorretos</small></h5>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <div class="card-profile-stats d-flex justify-content-center mt-md-5">
                    <div>
                      <span class="heading">{{stats?.br.wins}}</span>
                      <span class="description">Wins</span>
                    </div>
                    <div>
                      <span class="heading">{{stats?.br.kills}}</span>
                      <span class="description">Kills</span>
                    </div>
                    <div>
                      <span class="heading">{{kd}}</span>
                      <span class="description">Kd</span>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
        <div class="col-md-8 order-xl-1">
          <div class="card">
            <div class="card-body">
              <form autocomplete="off" novalidate [formGroup]="userForm" (ngSubmit)="editUser()">
                <input type="hidden" formControlName="idUser" name="idUser" value="{{user.idUser}}">
                <h6 class="heading-small text-muted mb-4">Informação pessoal</h6>
                <div class="pl-lg-4">
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group focused">
                        <label class="form-control-label" for="input-username">Nome Completo</label>
                        <input type="text" id="input-username" class="form-control form-control-alternative"
                          value="{{user.nome}}" disabled>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group focused">
                        <label class="form-control-label" for="input-userWz">Usuário Warzone</label>
                        <input type="text" id="input-userWz" class="form-control form-control-alternative"
                          name="username" formControlName="username">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label" for="input-email">Email</label>
                        <input type="email" id="input-email" class="form-control form-control-alternative"
                          value="{{user.email}}" disabled>
                      </div>
                    </div>

                    <div class="col-lg-6">
                      <div class="form-group focused">
                        <label class="form-control-label" for="input-last-name">Data Nascimento</label>
                        <input type="text" id="input-last-name" class="form-control form-control-alternative"
                          name="nascimento" formControlName="nascimento"
                          value="{{user.nascimento | date: 'dd/MM/yyyy'}}" disabled>
                      </div>
                    </div>
                  </div>
                </div>
                <hr class="my-4">
                <!-- Address -->
                <h6 class="heading-small text-muted mb-4">Endereço</h6>
                <div class="pl-lg-4">
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group focused">
                        <label class="form-control-label" for="input-address">País</label>
                        <select class="form-control" id="pais" name="pais" formControlName="pais">
                          <option value="{{user.pais}}">{{user.pais}}</option>
                          <option value="Argentina">Argentina</option>
                          <option value="Bolívia">Bolívia</option>
                          <option value="Brasil" selected>Brasil</option>
                          <option value="Chile">Chile</option>
                          <option value="Colômbia">Colômbia</option>
                          <option value="Equador">Equador</option>
                          <option value="Guiana">Guiana</option>
                          <option value="Paraguai">Paraguai</option>
                          <option value="Peru">Peru</option>
                          <option value="Suriname">Suriname</option>
                          <option value="Uruguai">Uruguai</option>
                          <option value="Venezuela">Venezuela</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group focused">
                        <label class="form-control-label" for="input-address">Estado</label>
                        <!-- <input type="text" id="input-address" class="form-control form-control-alternative" name="userEstado" formControlName="userEstado"> -->
                        <select class="form-control" id="input-address" name="estado" formControlName="estado">
                          <option value="{{user.estado}}" selected>{{user.estado}}</option>
                          <option value="Acre">Acre</option>
                          <option value="Alagoas">Alagoas</option>
                          <option value="Amapá">Amapá</option>
                          <option value="Amazonas">Amazonas</option>
                          <option value="Bahia">Bahia</option>
                          <option value="Ceará">Ceará</option>
                          <option value="Espírito Santo">Espírito Santo</option>
                          <option value="Goiás">Goiás</option>
                          <option value="Maranhão">Maranhão</option>
                          <option value="Mato Grosso">Mato Grosso</option>
                          <option value="Mato Grosso do Sul">Mato Grosso do Sul</option>
                          <option value="Pará">Pará</option>
                          <option value="Paraíba">Paraíba</option>
                          <option value="Paraná">Paraná</option>
                          <option value="Pernambuco">Pernambuco</option>
                          <option value="Piauí">Piauí</option>
                          <option value="Rio de Janeiro">Rio de Janeiro</option>
                          <option value="Rio Grande do Norte">Rio Grande do Norte</option>
                          <option value="Rio Grande do Sul">Rio Grande do Sul</option>
                          <option value="Rondônia">Rondônia</option>
                          <option value="Roraima">Roraima</option>
                          <option value="Santa Catarina">Santa Catarina</option>
                          <option value="São Paulo">São Paulo</option>
                          <option value="Sergipe">Sergipe</option>
                          <option value="Tocantins">Tocantins</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
                <hr class="my-4">
                <!-- Description -->
                <h6 class="heading-small text-muted mb-4">Id e Plataforma</h6>
                <div class="pl-lg-4">
                  <div class="row">
                    <div class="col-lg-12">
                      <div class="form-group">
                        <label for="platform">Plataforma*</label>
                        <div class="col-sm-12 col-md-12">
                          <div class="row mt-2">
                            <div class="col-md-4" (click)="!disable ? choosePlatform('psn') : null">
                              <div class="card shadow choosePlatform mb-2 {{platform === 'psn' ? 'bg-light' : 'bg-dark'}}">
                                <img src="/assets/images/psn.png" class="mt-2 ml-2 mr-2 center"
                                  style="max-height: 170px; max-width: 170px;" alt="psn logo">
                                <div class="card-body center">
                                  <h5 class="card-title">PSN</h5>
                                </div>
                              </div>
                            </div>
                            <div class="col-md-4" (click)="!disable ? choosePlatform('xbl') : null">
                              <div class="card shadow choosePlatform mb-2 {{platform === 'xbl' ? 'bg-light' : 'bg-dark'}}">
                                <img src="/assets/images/xbox.png" class="mt-2 ml-2 mr-2 center"
                                  style="max-height: 160px; max-width: 160px;" alt="xbox logo">
                                <div class="card-body center">
                                  <h5 class="card-title">XBOX</h5>
                                </div>
                              </div>
                            </div>
                            <div class="col-md-4" (click)="!disable ? choosePlatform('battle') : null">
                              <div class="card shadow choosePlatform mb-2 {{platform === 'battle' ? 'bg-light' : 'bg-dark'}}">
                                <img src="/assets/images/battle.png" class="mt-2 ml-2 mr-2 center"
                                  style="max-height: 160px; max-width: 160px;" alt="BattleNET logo">
                                <div class="card-body center">
                                  <h5 class="card-title">Battle.NET</h5>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!--div class="form-group focused">
                        <label class="form-control-label" for="platform">Plataforma</label>
                        <select class="form-control" id="input-platform" name="platform" formControlName="platform">
                          <option value="{{user.platform}}" selected>{{getPlatform(user.platform)}}</option>
                          <option value="psn" selected>PSN</option>
                          <option value="xbl" selected>Xbox Live</option>
                          <option value="battle" selected>Battle Net</option>
                        </select>
                      </div-->
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group focused">
                        <label class="form-control-label" for="input-address">Id</label>
                        <input type="text" id="input-address" class="form-control form-control-alternative"
                          name="wzProfile" formControlName="wzProfile">
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row pb-5 pt-5">
                  <div class="col-sm-12">
                    <a *ngIf="disable" class="btn btn-custom" (click)="enableForm()">Editar</a>
                    <button *ngIf="!disable" type="submit" class="btn btn-custom">
                      <span *ngIf="isLoading" class="spinner-border spinner-border-sm mr-1"></span>
                      Salvar</button>
                    <a *ngIf="!disable" class="btn btn-custom black" (click)="disableForm()">Cancelar</a>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
