<section class="container">
  <div class="warp mt-5 mb-2 pt-5 pb-5">
    <div class="row justify-content-center">
      <div class="col-xl-6 col-lg-8">
        <div class="section-title title-style-three text-center mb-70">
          <h2>Próximos <span class="text-yellow">Torneios</span></h2>
          <p>Inscreva-se em competições com sua equipe</p>
        </div>
      </div>
    </div>
    <div *ngIf="isLoading" class="d-flex justify-content-center">
      <div class="spinner-grow text-warning" role="status" style="width: 5rem; height: 5rem;">
      </div>
      <div class="ml-4">
        <span class="text-warning">Favor aguarde... <br>nossos servidores estão iniciando,<br> ainda há homens
          trabalhando...</span>
      </div>
    </div>
    <div class="row" infiniteScroll (scrolled)="onScroll()" *ngIf="!isLoading && tournaments.length > 0">
      <div class="col-lg-4 col-md-6 mt-5 mb-2" *ngFor="let torneio of tournaments" >
        <div class="coming-match-item mb-30">
          <div class="coming-match-team">
            <div class="match-team-info">
              <div class="match-team-logo">
                <h2 class="text-yellow">{{ torneio.mode }}</h2>
              </div>
              <div class="match-team-name">
                <h5 class="tournament-date">{{ torneio.date | date : 'fullDate' : '' : 'pt-BR' }}</h5>
              </div>
              <div class="match-team-name">
                <h5 class="pt-4 tournament-award">{{ torneio.award }} <br><span class="subtxt">Por Time</span></h5>
              </div>
            </div>
          </div>
          <div class="coming-match-info">
            <div class="match-info-action">
              <ul>
                <li>Modo: <span>{{ torneio.mode }}</span></li>
                <li>Duração: <span>{{ torneio.duration }}</span></li>
                <li>Início: <span>{{ torneio.start }}</span></li>
                <li>Pontos: <span>{{ torneio.scoring }}</span></li>
                <li>Times: <span>{{ torneio.times }}</span></li>
                <li>Valor: <span>{{ torneio.cost }}</span></li>
              </ul>
            </div>
          </div>
          <div class="coming-match-time">
            <div class="coming-time">
              <!--button *ngIf="user" (click)="registerTournament(torneio.idCamp)" type="button" class="btn btn-custom" data-toggle="modal" data-target="#modalRegister">
                Jogar
              </button-->
              <button *ngIf="user" mat-button (click)="registerTournament(torneio.idCamp)" [idCamp]="idCamp" class="btn btn-custom">Jogar</button>


              <app-modal *ngIf="!user" title="Jogar"></app-modal>

              <!--app-buttom title="Jogar"></app-buttom-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

  <div *ngIf="!isLoading && tournaments.length == 0" class="row justify-content-center">
    <div class="col-xl-6 col-lg-8">
      <div class="section-title title-style-three text-center mb-70">
        <h2>Não há <span class="text-yellow">Jogos</span></h2>
        <p>No momento não temos campeonatos disponíveis</p>
      </div>
    </div>
  </div>


<!--div class="modal fade modal-edit-position" id="modalRegister" tabindex="-1" aria-labelledby="modalRegister" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-body">
        <app-register-tournament [idCamp]="idCamp"></app-register-tournament>
      </div>
    </div>
  </div>
</div-->
>
