@import url('https://fonts.googleapis.com/css?family=Oxanium:400,500,600,700,800|Poppins:400,400i,500,500i,600,600i,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@700&display=swap');
:root {
  --background-color: #f6f6f6;
  --background-Black: #1c181e;
  --primary-color: #e4a101;
  --secondary-color: #1c181e;
  --text-color: #6c6c6c;
  --text-color-light: #90949c;
  --text-white: #fff;
  --color-header: #edeaea;
}

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: var(--background-color);
  font-family: 'Segoe UI', sans-serif;
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 0.9375rem;
  font-weight: 500;
  color: var(--text-color-light);
  ;
}

p {
  font-family: 'Poppins', sans-serif;
  font-size: 0.9375rem;
  line-height: 1.75rem;
}

h1, h2, h3, h4 {
  font-family: 'Oxanium', cursive;
  font-weight: 800;
  text-transform: uppercase;
  color: var(--secondary-color);
}

a:hover {
  text-decoration: none;
}

ul {
  list-style: none;
  padding-left: 0px;
}

.title {
  font-size: 6.25rem
}

.txt-intro {
  font-size: 1.375rem;
}

.game-content {
  box-shadow: 0px 2px 21px 0px rgb(59 53 63 / 12%);
  position: relative;
  z-index: 1;
  background: #fff;
  padding: 50px 40px;
  overflow: hidden;
}

.text-yellow {
  color: var(--primary-color)
}

.is-active {
  background-color: var(--primary-color);
  color: var(--secondary-color)!important;
  padding: 0.9375rem;
  transform: skewX(-10deg);
}

.btn-custom {
  transition: all 0.3s linear 0s;
  color: #edeaea;
  background-color: var(--primary-color);
  border: 0.0625rem solid var(--primary-color);
  transform: skewX(-10deg);
  font-size: 0.875rem;
  line-height: 0.875rem;
  padding: 1rem 1.875rem;
  text-transform: unset;
  font-weight: 600;
  cursor: pointer;
  text-transform: uppercase;
  border-radius: .25rem;
}

.btn-custom:hover {
  filter: brightness(1.2);
  border-color: var(--primary-color);
}

.form-control {
  border-radius: 64px;
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: var(--primary-color)!important;
  border-radius: 64px;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgb(228 161 1 / 25%)!important;
}

.alert {
  background: #fff!important;
  color: inherit!important;
}

.toast-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: .25rem .75rem;
  color: #6c757d;
  background-color: #ffffffd9;
  background-clip: padding-box;
  border-bottom: 1px solid #0000000d;
  border-top-left-radius: calc(.25rem - 1px);
  border-top-right-radius: calc(.25rem - 1px);
}

.toast-body {
  padding: 3rem .75rem;
  text-align: center;
}


@media (max-width: 465px) {
  .title {
    font-size: 2.8rem
  }
}

/*bug que move a pagina para esquerda ao abrir modal*/

@media (min-width: 465px) {
  .fixed {
    margin: 0px;
    padding: 0px;
    margin-left: 8px !important;
    margin-right: 8px !important;
  }
}
