<div *ngIf="!isLoading && isInvited && !isAccepted" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Confirmação de <span class="text-yellow">INSCRIÇÃO</span></h5>
        <button class="close" (click)="closeModal()" mat-button mat-dialog-close aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Confirme sua inscricão no torneio abaixo</p>
        <ul class="list-group">
          <li class="list-group-item">Modo <span class="text-yellow">{{tournament?.mode}}</span></li>
          <li class="list-group-item">Data <span class="text-yellow">{{ tournament?.date | date : 'fullDate' : '' :
              'pt-BR' }}</span></li>
          <li class="list-group-item">Início <span class="text-yellow">{{tournament?.start}}</span></li>
        </ul>
      </div>
      <div class="modal-footer">
        <button (click)="confirm()" [disabled]="isLoading" class="btn btn-primary">Confirmar</button>
        <button (click)="closeModal()" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>

<div *ngIf="!isInvited && !isLoading && !isAccepted" class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title text-muted">Atenção!</h5>
    <button class="close" (click)="closeModal()" mat-button mat-dialog-close aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p class="text-danger">Você não foi convidado para esse Torneio</p>
  </div>
  <div class="modal-footer">
    <button class="btn btn-secondary" (click)="closeModal()" mat-button mat-dialog-close>Fechar</button>
  </div>
</div>

<div *ngIf="isAccepted" class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title text-muted">Participação já confirmada!</h5>
    <button class="close" (click)="closeModal()" mat-button mat-dialog-close aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p class="text-success">Você já confirmou participação nesse torneio</p>
  </div>
  <div class="modal-footer">
    <button class="btn btn-secondary" (click)="closeModal()" mat-button mat-dialog-close>Fechar</button>
  </div>
</div>
