<section class="container ">
  <div class="row mt-5 mb-5 pt-5 pb-5">
    <div class="col-md-12 game-content">
        <h2 class="mb-5">Perguntas <span _ngcontent-ryn-c63="" class="text-yellow">Frequentes</span></h2>
      <div class="accordion" id="accordionExample">
        <div class="card">
            <div class="card-header collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true">
                <span >Como as divisões são formadas? </span>
                <span class="accicon"><i class="fa fa-chevron-right rotate-icon"></i></span>
            </div>
            <div id="collapseOne" class="collapse show" data-parent="#accordionExample">
                <div class="card-body">
                    Nosso algoritmo de classificação de habilidade analisa todas as estatísticas históricas da zona de guerra para colocá-lo em uma
                    divisão com jogadores de nível de habilidade semelhante. Conforme o tempo passa e hospedamos mais torneios com mais jogadores,
                    o algoritmo melhora sozinho para melhor classificar as equipes.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                <span>Como funcionam os torneios de kill race?</span>
                <span class="accicon"><i class="fa fa-chevron-right rotate-icon"></i></span>
            </div>
            <div id="collapseTwo" class="collapse" data-parent="#accordionExample">
                <div class="card-body">
                    Os anfitriões da Z League matam torneios de corrida, aqui está um resumo de como eles funcionam:

                    Entre em quantos jogos Warzone públicos você quiser com sua equipe durante o período de tempo alocado do torneio.
                    Cada morte que você obtém é 1 ponto e pontos adicionais são concedidos com base em quão bem sua equipe se classificou naquele jogo.
                    Nós pegamos as pontuações (mortes + pontos de colocação) de seus melhores jogos para determinar sua pontuação total.
                    As equipes com as pontuações mais altas ganham os prêmios correspondentes.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false">
                <span>Posso mudar meu ID de plataforma antes do torneio?</span>
                <span class="accicon"><i class="fa fa-chevron-right rotate-icon"></i></span>
            </div>
            <div id="collapseThree" class="collapse" data-parent="#accordionExample">
                <div class="card-body">
                    Não, você não pode alterar sua ID de plataforma antes do torneio se já estiver registrado
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header collapsed" data-toggle="collapse" data-target="#collapseFor" aria-expanded="false">
                <span>Minha equipe está cadastrada?</span>
                <span class="accicon"><i class="fa fa-chevron-right rotate-icon"></i></span>
            </div>
            <div id="collapseFor" class="collapse" data-parent="#accordionExample">
                <div class="card-body">
                    Você receberá um e-mail assim que sua equipe estiver totalmente registrada.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false">
                <span>O que acontece em caso de empate?</span>
                <span class="accicon"><i class="fa fa-chevron-right rotate-icon"></i></span>
            </div>
            <div id="collapseFive" class="collapse" data-parent="#accordionExample">
                <div class="card-body">
                    Em caso de empate, a maioria das mortes nos principais jogos das equipes será usada como o primeiro desempate.
                    O segundo desempate será o número de vitórias nos principais jogos das equipes. O terceiro desempate será o menor
                    número de jogos disputados. Se as equipes ainda estiverem empatadas, o prêmio para a posição e a próxima posição
                    será dividido entre as equipes. Para maior clareza, se duas equipes estão empatadas em p2 após a contabilização de
                    pontos, total de mortes de equipes, vitórias e número de jogos disputados, o prêmio para p2 e p3 seria dividido pelas equipes.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header collapsed" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false">
                <span>Como funcionam os prêmios?</span>
                <span class="accicon"><i class="fa fa-chevron-right rotate-icon"></i></span>
            </div>
            <div id="collapseSix" class="collapse" data-parent="#accordionExample">
                <div class="card-body">
                    Todos os prêmios anunciados são pagamentos baseados em uma divisão totalmente preenchida.
                    No caso raro de não conseguirmos colocar uma divisão completa com base no seu nível de habilidade,
                    o prêmio será calculado proporcionalmente com base no número de participantes em uma determinada divisão.
                    Todos os participantes que jogam em uma divisão modificada serão notificados por e-mail antes do início do torneio.
                    Sparta Clã oferece competição baseada em habilidades e se esforça para garantir que os participantes sejam combinados com base em suas habilidades.
                    Os vencedores serão contatados em até 12 horas após a finalização da pontuação. Os vencedores devem ter concluído uma verificação de
                    identidade antes de os prêmios serem concedidos. Dependendo do método de pagamento, você pode estar sujeito a taxas. Z League não é
                    responsável por quaisquer taxas cobradas por terceiros.
                </div>
            </div>
        </div>
    </div>
    </div>
  </div>
</section>
