<section class="container">
  <div class="row mt-5 mb-5 pt-5 pb-5">
    <div class="col-md-12 game-content">
      <div class="section-title title-style-three text-center mb-70">
        <h2>Crie um <span class="text-yellow">Desafio</span></h2>
        <p>Desafie seus amigos para ver quem consegue mais mortes ou ganhar mais partidas em um determinado período de tempo.</p>
      </div>
        <div class="card">
          <div class="card-body">

            <form [formGroup]="form" (ngSubmit)="criarDesafio()" >
              <h6 class="heading-small text-muted mb-4"> </h6>
              <div class="pl-lg-4">
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group focused">
                      <label class="form-control-label" for="input-username">Inicio do desafio</label>
                      <input type="date"  class="form-control" formControlName="startData" >
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group focused">
                      <label class="form-control-label" for="input-userWz">Horário de início</label>
                      <input type="time" class="form-control" name="horaInicio" formControlName="startHour">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-control-label" for="input-email">Fim do desafio</label>
                      <input type="date"  class="form-control" formControlName="endData" >
                    </div>
                  </div>

                  <div class="col-lg-6">
                    <div class="form-group focused">
                      <label class="form-control-label" for="input-last-name">Horário de termino</label>
                      <input type="time" class="form-control" name="horaFim" formControlName="endHour">
                    </div>
                  </div>
                </div>
              </div>
              <hr class="my-4">
              <!-- Address -->
              <h6 class="heading-small text-muted mb-4">EM QUAL MAPA VOCÊ QUER COMPETIR?</h6>
              <div class="pl-lg-4">
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group focused">
                      <label class="form-control-label" for="input-address">Escolher mapa</label>
                      <select class="form-control" name="map" formControlName="map">
                        <option value=""></option>
                        <option value="Caldeira">Caldeira</option>
                        <option value="Rebirth">Rebirth</option>
                        <option value="Fortune's Keep" selected>Fortune's Keep</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>

              <hr class="my-4">
              <!-- Address -->
              <h6 class="heading-small text-muted mb-4">FORMATO DE PONTUAÇÃO</h6>
              <div class="pl-lg-4">
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group focused">
                      <label class="form-control-label" for="input-address">Escolha o número de melhores jogos para contar para sua pontuação</label>
                      <select class="form-control" id="pais" name="games" formControlName="games">
                        <option value="1">1 Jogo</option>
                        <option value="2">2 jogos</option>
                        <option value="5" selected>5 jogos</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-6 mt-5">
                <button type="submit"  class="btn btn-custom">CRIAR DESAFIO</button>
              </div>
            </form>
          </div>
        </div>
      </div>
  </div>
</section>
